/* latin-ext */
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya'), local('Alegreya'), url(../fonts/Alegreya_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya'), local('Alegreya'), url(../fonts/Alegreya_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script'), local('DancingScript'), url(../fonts/Dancing_Script_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script'), local('DancingScript'), url(../fonts/Dancing_Script_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: local('EB Garamond'), local('EBGaramond'), url(../fonts/EB_Garamond_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: local('EB Garamond'), local('EBGaramond'), url(../fonts/EB_Garamond_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'), local('Lato'), url(../fonts/Lato_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'), local('Lato'), url(../fonts/Lato_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat'), url(../fonts/Montserrat_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat'), url(../fonts/Montserrat_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url(../fonts/NotoSans_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url(../fonts/NotoSans_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald'), local('Oswald'), url(../fonts/Oswald_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald'), local('Oswald'), url(../fonts/Oswald_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen'), url(../fonts/Oxygen_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen'), url(../fonts/Oxygen_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand'), local('Quicksand'), url(../fonts/Quicksand_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand'), local('Quicksand'), url(../fonts/Quicksand_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono'), url(../fonts/Roboto_Mono_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono'), url(../fonts/Roboto_Mono_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round'), local('VarelaRound'), url(../fonts/Varela_Round_Latin_Ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round'), local('VarelaRound'), url(../fonts/Varela_Round_Latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html:before {
    background: #f7f7f7 no-repeat center center fixed;
    background-size: cover;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: none;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row:after, .row:before {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

blockquote {
    padding: 0;
    margin: 0;
    font-size: inherit;
    border: none;
}

.full_body {
    min-width: 1080px;
    overflow-x: auto;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.16);
    z-index: 1010;
}

.qnIcon {
    float: left;
    width: 150px;
    height: 50px;
    margin: 5px 10px;
}

.qnIcon img {
    width: 100%;
    height: 100%;
}

.format-box {
    width: 740px;
    height: 60px;
    float: left;
    margin-left: 10px;
}

@media screen and (min-width: 1080px) {
    .header {
        width: 100%;
        height: 60px;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }

    .qnIcon {
        position: fixed;
        left: 32px;
        top: 0;
        z-index: -1;
    }

    .format-box {
        position: fixed;
        left: calc(50% - 370px);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 0 0 35px 35px / 0 0 50px 50px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.16);
        margin: 0;
        z-index: 1000;
    }
}

.toolbar {
    text-align: center;
    margin-top: 5px;
}

.notes-panel {
    margin: 0 40px;
}

.note-column {
    float: left;
    width: 25%;
    padding: 10px;
}

.note_list {
    min-height: 200px;
    margin-bottom: 60px;
}

.note-box {
    width: 100%;
}

.note-pad {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: #555;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.note-head {
    position: relative;
    height: 40px;
    width: 100%;
    line-height: 40px;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.note-head-front, .note-head-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    backface-visibility: hidden;
    border-bottom: 1px solid #ddd;
}

.note-head-back {
    transform: rotateX(180deg);
    background-color: rgba(255, 255, 255, 0.3);
}

.flip {
    transform: rotateX(180deg);
}

.note-move-box {
    float: left;
    width: 40px;
    height: 40px;
    cursor: move;
}

.note-move-icon {
    --iconColor: #ccc;
    width: 4px;
    height: 4px;
    margin: 18px auto;
    border-radius: 50%;
    background-color: var(--iconColor);
    box-shadow: 8px 0 0 0 var(--iconColor),
    -8px 0 0 0 var(--iconColor),
    0 8px 0 0 var(--iconColor),
    0 -8px 0 0 var(--iconColor),
    8px 8px 0 0 var(--iconColor),
    -8px 8px 0 0 var(--iconColor),
    -8px -8px 0 0 var(--iconColor),
    8px -8px 0 0 var(--iconColor);
}

.note-head-text-cover {
    float: left;
    width: calc(100% - 62px);
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.note-head-text, .note-head-text:hover, .note-head-text:active, .note-head-text:focus {
    min-width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none
}

.note-head-text::placeholder {
    color: rgba(220, 220, 220, 0.5);
    backface-visibility: hidden;
}

.note-options {
    float: right;
    width: 22px;
    height: 40px;
    cursor: pointer;
}

.note-options-icons {
    --iconColor: #ccc;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--iconColor);
    margin: 18px auto;
    box-shadow: 0 8px 0 0 var(--iconColor),
    0 -8px 0 0 var(--iconColor);
}

.color-list {
    padding-left: 6px;
}

.color-box {
    float: left;
    width: 26px;
    height: 40px;
    padding: 10px 0 10px 0;
}

@media screen and (min-width: 1250px) {
    .color-box {
        width: 30px;
    }
}

.color-selector {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.note-delete {
    float: right;
    height: 40px;
    width: 30px;
    cursor: pointer;
    margin-right: 4px;
}

.note-delete i {
    height: 30px;
    width: 24px;
    margin-top: 7px;
    margin-left: 3px;
}

.note-text {
    min-height: 200px;
    padding: 10px;
    overflow: hidden;
}

.note-text[contenteditable]:focus {
    outline: none;
}

.note-text * {
    max-width: 100%;
    height: auto !important;
}

.note-text h1, .note-text h2 {
    margin-top: 10px;
}

.note-text h1 {
    font-size: 30px;
}

.note-text h2 {
    font-size: 24px;
}

.note-text font[size="1"] {
    font-size: 12px;
}
.note-text font[size="2"] {
    font-size: 14px;
}
.note-text font[size="3"] {
    font-size: 16px;
}
.note-text font[size="4"] {
    font-size: 18px;
}
.note-text font[size="5"] {
    font-size: 20px;
}
.note-text font[size="6"] {
    font-size: 22px;
}
.note-text font[size="7"] {
    font-size: 24px;
}

.note-text ul, .note-text ol {
    padding-left: 20px;
}

[data-color="darkGray"] a {
    color: #29B6F6;
}
[data-color="darkBlue"] a {
    color: #EED359;
}
[data-color="green"] a {
    color: #1287A8;
}
[data-color="red"] a {
    color: #EED359;
}
[data-color="yellow"] a {
    color: #1287A8;
}
[data-color="white"] a {
    color: #1287A8;
}

.note-add-box {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00B0FF;
    overflow: hidden;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.note-add-box:hover {
    background-color: #44D0FF;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.16);
}

.note-add-icon {
    width: 32px;
    height: 32px;
    margin: 14px;
    background: linear-gradient(to bottom, transparent 48%, #fff 48%, #fff 52%, transparent 52%),
    linear-gradient(to right, transparent 48%, #fff 48%, #fff 52%, transparent 52%);
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.popup {
    background-color: #fff;
    width: 500px;
    max-width: 100%;
    height: 270px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 4px;
}

.popup_query {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#popup_input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#popup_input, #popup_input:hover, #popup_input:active, #popup_input:focus {
    background: none;
    outline: none;
    -webkit-appearance: none
}

#popup_buttons {
    width: 100%;
    display: table;
}

#popup_submit {
    float: left;
    padding: 10px;
    margin-top: 20px;
    width: 48%;
    background-color: #1287A8;
    color: #fff;
    cursor: pointer;
}

#popup_cancel {
    float: right;
    padding: 10px;
    margin-top: 20px;
    width: 48%;
    background-color: #CCCCCC;
    cursor: pointer;
}

#popup_notification {
    display: none;
    margin-top: 10px;
    color: #EF5350;
    text-align: center;
}


/* FORMAT BOX */

.toolbar a,
.font-wrapper,
.fsize-wrapper,
.fore-wrapper,
.back-wrapper {
    position: relative;
    font-size: 13px;
    line-height: 20px;
    background: #FFF;
    color: #555;
    padding: 6px;
    margin: -2px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

.font-wrapper {
    width: 120px;
    text-align: left;
}
.fsize-wrapper {
    width: 50px;
    text-align: left;
}

.fore-wrapper a,
.back-wrapper a {
    border: 1px solid #AAA;
    border-radius: 1px;
}

.toolbar a:hover,
.font-wrapper:hover,
.fsize-wrapper:hover,
.fore-wrapper:hover,
.back-wrapper:hover {
    background: #f2f2f2;
    border-color: #8c8c8c;
}

.font-wrapper,
.fsize-wrapper,
.back-wrapper,
a[data-command='strikeThrough'],
a[data-command='justifyFull'],
a[data-command='insertOrderedList'],
a[data-command='h2'],
a[data-command='insertimage'] {
    padding-right: 10px;
    border-right: 1px solid #ccc;
    margin-right: -1px;
}

.fsize-wrapper,
.fore-wrapper,
a[data-command='bold'],
a[data-command='justifyLeft'],
a[data-command='insertUnorderedList'],
a[data-command='indent'],
a[data-command='p'],
a[data-command='createlink'],
a[data-command='subscript'] {
    padding-left: 10px;
}

a.palette-item {
    height: 25px;
    margin: 2px;
    width: 25px;
}

a.palette-item:hover {
    border: 1px solid #CCC;
    box-shadow: 0 0 2px #777;
}

.font-list,
.fsize-list,
.fore-palette,
.back-palette {
    display: none;
}

.fore-triangle,
.back-triangle {
    display: none;
}

.font-wrapper,
.fore-wrapper,
.back-wrapper {
    display: inline-block;
    cursor: pointer;
}

.font-wrapper:hover .font-list,
.fsize-wrapper:hover .fsize-list,
.fore-wrapper:hover .fore-palette,
.back-wrapper:hover .back-palette {
    display: block;
    float: left;
    position: absolute;
    right: -68px;
    top: 30px;
    padding: 3px;
    width: 160px;
    background: #FFF;
    border: 1px solid #DDD;
    box-shadow: 0 0 2px #DDD;
    height: 70px;
    z-index: 1020;
}

.font-wrapper:hover .font-list {
    height: auto;
    max-height: 240px;
    overflow-y: auto;
    right: 0;
    width: 120px;
}

.fsize-wrapper:hover .fsize-list {
    width: 50px;
    right: 0;
    height: auto;
}

.tool-color {
    display: block;
    position: absolute;
    width: 18px;
    height: 4px;
    bottom: 0;
}

.fore-wrapper .tool-color {
    right: 3px;
}

.back-wrapper .tool-color {
    left: 3px;
}

.font-wrapper:hover .fore-triangle,
.fsize-wrapper:hover .fore-triangle,
.fore-wrapper:hover .fore-triangle,
.back-wrapper:hover .back-triangle {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    bottom: -2px;
    right: 4px;
    z-index: 1030;
}
.font-wrapper:hover .fore-triangle {
    right: 52px;
}
.fsize-wrapper:hover .fore-triangle {
    right: 17px;
}
.button-drop-icon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.fore-palette a,
.back-palette a {
    background: #FFF;
    margin-bottom: 2px;
}

.font-list a,
.fsize-list a {
    width: 100%;
    color: #555;
    margin: 0;
}
